/*RESET*/

* {
  box-sizing: border-box;
}

html  {
  height: 100%;
}

body  {
  background-color: #e6e6e6;
  margin: 0px auto;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*STYLING*/

  /*HEADER y BARRA DE NAVEGACIÓN*/

header {
  display: block;
  background-color: white;
  height:50px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 200px gray;
  min-width: 590px;
}

.back-header  {
  height:50px;
}

.color-header {
  background-color: rgb(84, 195, 176);
  height: 10px;
}

#logo {
  float: left;
  margin: 0px 0px 0px 40px;
  height: 40px;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

#logo:hover {
  opacity: 0.5;
}

nav {
  float: left;
  display: block;
  margin: -5px 0px;
}

nav ul {
  list-style: none;
  display: inline-block;
}

nav ul li{
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  color:#666;
  font-family: sans-serif;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

nav ul li a:hover {
  opacity: 0.6;
}

.contact-links  {
  width: 100px;
  height: 50px;
  margin: 5px 0px 0px 0px;
  float: right;
  overflow: hidden;
}

.mail, .facebook  {
  float: left;
  width:30px;
  height: 30px;
  margin: 0px 10px;
  background-color: #54c3b0;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  padding: 5px 7px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  border-bottom: 2px solid rgb(71, 152, 136);
}

.contact-links img {
  width: 15px;
  height: 15px;
  margin: 7.5px 7.5px;
}

.mail:hover, .facebook:hover  {
  opacity: 0.7;
}

main  {
  display: block;
}

  /*Efecto parallax*/

.parallax-container {
  background-image: url("https://s21.postimg.org/fl77k90fb/general.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 40px;
  height: 93vh;
  width: 100%;
  box-shadow: inset 0px 0.1px 200px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

#pericias-psicologicas {
  background-image: url("https://s15.postimg.org/jurd4r357/pericias_psicologicas.png");
  background-color: white;

}

#evaluacion-personal  {
  background-image: url("https://s15.postimg.org/v8dwfydnv/evaluacion_personal.png");
}

#orientacion-vocacional {
  background-image: url("https://s15.postimg.org/ycjyz052j/orientacion_vocacional.png");
}

.welcome-message-block  {
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 70%;
  background-color: rgba(84, 195, 176,0.7);
  display: inline-block;
  margin: 12% 15%;
  font-family: 'Varela Round';
  padding: 30px 20px 50px;
  border-bottom: 10px solid rgba(71, 152, 136,0.7);
}

.welcome-message-block h2 {
  font-size: 40px;
}

.welcome-message-block p {
  font-size: 20px;
}

.second-section {
  color: white;
  font-family: sans-serif;
  background-color: #54c3b0;
  margin: 0;
  padding: 30px 100px;
  font-size: 12px;
}

.third-section  {
  color: white;
  font-family: sans-serif;
  background-color: #b2b2b2;
  margin: 0;
  padding: 30px 100px;
  font-size: 20px
}

.third-section h4 {
  font-size: 23px;
  margin: 0;
  font-family: 'Varela Round';
}

/*INFORMATION BLOCKS - Secciones donde van los ejes de acción de la empresa*/

#block-pericias-psicologicas  {
  background-color: #54c3b0;
  color: white;
}
#block-pericias-psicologicas h5 {
  color: white;
}

#block-pericias-psicologicas .info ol li, .info ul li, p {
  color: white;
  font-size: 15px;
}

#block-evaluacion-personal  {
  background-color: rgb(231, 95, 83);
}

#block-evaluacion-personal .info ol li, .info ul li, p {
  color: white;
  font-size: 15px;
}

#block-orientacion-vocacional {
  background-color: rgb(178, 178, 178);
}
.info {
  width:70%;
  float: left;
}

.info-block {
  width: 100%;
  display: inline-block;
  color:white;
  font-family: sans-serif;
  padding-bottom: 30px;
}

.info-image {
  display: inline-block;
  float:left;
  width:30%;
  padding: 40px;
}

.info-text  {
  width:90%;
  float: left;
  column-count: 2;
  margin: 40px auto;
}

.info-title {
  display: inline-block;
  width: 100%;
  height: 30px;
}

.info-title h5 {
  margin: 40px 0px;
  font-family: 'Varela Round' ,sans-serif;
  color: black;
  font-size: 30px;
}

.info-text p {
  float: right;
  font-family: sans-serif;
  margin: 0;
  font-size: 15px;
}

.info ol li, .info ul li {
  font-size: 15px;
}

/*Footer - datos de contacto y links*/

#footer {
  width: 100%;
}

#footer .footer-top {
  width: 100%;
  height:30px;
  background-color: #5d646e;
}

#footer .footer-link-row  {
  width:100%;
  display: block;
  height: 110px;
}

#footer .footer-link {
  float: left;
  width:33.3%;
  height: 110px;
}

.footer-link i{
  color: #54c3b0;
  font-size: 80px;
  width: 100%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  line-height: 110px;
}

.footer-link i:hover {
  opacity:0.7;
}

#footer .telephone  {
  width: 100%;
  font-family: 'Varela Round';
}

#footer .telephone a {
  color: rgb(231, 95, 83);
}

#footer .footer-bottom  {
  background-color: white;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
}

/*TABLET QUERY*/

@media only screen and (max-width:992px) and (min-width:451px) {

  nav ul {
    padding-left: 1vw;
  }

  .footer-link i{
    color: #54c3b0;
    font-size: 70px;
    line-height: 120px;
    width: 100%;
    text-align: center;
  }

  .second-section,.third-section {
    text-align: center;
  }

  .welcome-message-block  {
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 80%;
    background-color: rgba(84, 195, 176,0.7);
    display: inline-block;
    margin: 12% 10%;
    font-family: 'Varela Round';
    padding: 30px 20px 50px;
  }

  .info-text  {
    width:70%;;
    column-count: 1;
    text-align: center;
    padding: 0px 40px;
  }

  .info {
    width:100%;
  }

  .info-block {
    width: 100%;
    display: inline-block;
    color:white;
    font-family: sans-serif;
  }

  .info-image {
    float:left;
    width:40%;
    margin: 0px 30%;
    display: block;
    padding: 20px
  }

  .info-text  {
    width:100%;
    margin: 20px auto 0px;
    column-count: 1;
    text-align: center;

  }

  .info-title {
    display: inline-block;
    width: 100%;
    height: 30px;
  }

  .info-title h5 {
    margin: 20px 0px;
    font-family: 'Varela Round' ,sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
  }

  .info-text p {
    float: right;
    font-family: sans-serif;
    margin: 0px 30px;
    font-size: 15px;
  }

  .info ol li, .info ul li {
    font-size: 15px;
    text-align: left;
    padding:  0% 10%;
  }

  #footer .footer-bottom {
    height: 60px;
    text-align: center;
  }
}

#footer .footer-bottom  {
  background-color: white;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  border-radius: 0px 0px 5px 5px;
  color: rgb(84, 195, 176);
}

#footer address {
  color: rgb(84, 195, 176);
  text-decoration: none;
  font-style: normal;
  font-family: 'Varela Round', sans-serif;
}

#footer address a {
  color:rgb(84, 195, 176);
  font-family: 'Varela Round', sans-serif;
}

/*PHONE QUERY*/

@media only screen and (max-width:450px) {

  body,html  {
    width:100%;
    overflow-x: hidden;
  }

  header  {
    height:240px;
    text-align: center;
    position: static;
    margin: 0px;
    min-width: 0px;
  }

  .color-header {
    background-color: rgb(84, 195, 176);
    height: 10px;
  }

  .back-header  {
    display: none;
  }

  header nav {
    width:100%;
  }

  header nav ul {
    margin: 0px 10% 10px;
    padding-left: 0px;
  }

  header nav ul li {
    margin: 10px 0px;
    display: block;
  }

  nav ul li a {
    color:#666;
    font-family: sans-serif;
    font-size: 24px;
  }

  #logo {
    width:70%;
    height: auto;
    margin:0px 15%;
  }

  .welcome-message-block  {
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 80%;
    background-color: rgba(84, 195, 176,0.7);
    display: inline-block;
    margin: 12% 10%;
    font-family: 'Varela Round';
    padding: 30px 20px 20px;
  }

  .parallax-container {
    background-image: url("https://s21.postimg.org/fl77k90fb/general.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 180px;
    height: 73vh;
    width: 100%;
    box-shadow: inset 0px 0.1px 200px rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }

  .second-section,.third-section {
    text-align: center;
  }

  .contact-links  {
    width: 50%;
    margin: 0px auto;
    float: none;
  }

  .mail, .facebook  {
    width:30%;
    margin: 0px 10%;
    height: 44px;
    background-color: #54c3b0;
    border-radius: 5px;
    font-size: 25px;
    padding-top: 7px;
  }


  .contact-links img {
    width: 25px;
    height: 25px;
    margin: 8px 8px;
  }
  .welcome-message-block h2 {
    font-size: 20px;
  }

  .welcome-message-block p {
    font-size: 13px;
  }

  .second-section {
    color: white;
    font-family: sans-serif;
    background-color: #54c3b0;
    margin: 0;
    padding: 30px 20px;
    font-size: 12px;
  }

  .third-section  {
    color: white;
    font-family: sans-serif;
    background-color: #b2b2b2;
    margin: 0;
    padding: 30px 20px;
    font-size: 20px
  }

  .third-section h4 {
    font-size: 23px;
    margin: 0;
    font-family: 'Varela Round';
  }

  #pericias-psicologicas {
    background-image: url("https://s15.postimg.org/jurd4r357/pericias_psicologicas.png");
    background-color: white;
    background-position: 50%;

  }

  #evaluacion-personal  {
    background-image: url("https://s15.postimg.org/v8dwfydnv/evaluacion_personal.png");
    background-position: 50%;
  }

  #orientacion-vocacional {
    background-image: url("https://s15.postimg.org/ycjyz052j/orientacion_vocacional.png");
    background-position: 50%;
  }

  #block-pericias-psicologicas  {
    background-color: #54c3b0;
    color: white;
  }
  #block-pericias-psicologicas h5 {
    color: white;
  }

  #block-pericias-psicologicas .info ol li, .info ul li, p {
    color: white;
    font-size: 15px;
  }

  #block-evaluacion-personal  {
    background-color: rgb(231, 95, 83);
  }

  #block-evaluacion-personal .info ol li, .info ul li, p {
    color: white;
    font-size: 15px;
  }

  #block-orientacion-vocacional {
    background-color: rgb(178, 178, 178);
  }

  .info {
    width:100%;
  }

  .info-block {
    width: 100%;
    display: inline-block;
    color:white;
    font-family: sans-serif;
  }

  .info-image {
    float:left;
    width:100%;
    display: block;
  }

  .info-text  {
    width:100%;
    margin: 20px auto 0px;
    column-count: 1;
    text-align: center;
    padding: 0px 10px;

  }

  .info-title {
    display: inline-block;
    width: 100%;
    height: 30px;
  }

  .info-title h5 {
    margin: 20px 0px;
    font-family: 'Varela Round' ,sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
  }

  .info-text p {
    float: right;
    font-family: sans-serif;
    margin: 0px 30px;
    font-size: 15px;
  }

  .info ol li, .info ul li {
    font-size: 15px;
    text-align: left;
    padding:  0% 10%;

  }

  #footer-parallax {
    background-image: url("https://s21.postimg.org/fl77k90fb/general.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    height: 90vh;
    width: 100%;
    box-shadow: inset 0px 0.1px 200px rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }

  #main-parallax {
    background-attachment: scroll;
    background-position: top;
  }

  .footer-link i{
    color: #54c3b0;
    font-size: 50px;
    line-height: 120px;
    width: 100%;
    text-align: center;
  }

  #footer .telephone  {
    height: 100px;
    width: 100vw;
    font-family: 'Varela Round';

  }

  #footer .telephone  {
    display:block;
    width: 100vw;
    font-family: 'Varela Round';
    padding: 20px 0px 0px 0;

  }

  #footer .telephone a {
    color: rgb(231, 95, 83);
  }

}
